@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

main{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

}
main section{
    max-width: 2000px;
    margin: 2rem auto;
}

